name: to build python application 
on: 
 workflow dispatch:
 push:
  branches:
     - master
 pull_request:
  branches:
     - master

jobs:
 job1:
   runs-on: ubuntu-latest
   steps:
   - name: checkout the code
     uses: actions/checkout@v6

   - name: install python
     uses: actions/setup-python@v6

   - name: install python dependencies
     run: |
           pip install --upgrade pip
           pip install -r requirements.txt 
           
   - name: set pythonpath
      run: echo "PYTHONPATH"=$GITHUB_WORKSPACE >> $GITHUB_ENV
     
   - name: run test cases
      run: pytest test --cov=app --cov-report=xml 
   
